<!-- <p>sign-up works!</p> -->

            <h3 class="reg">Registration Form</h3>
            <form action="" method="POST">
                <div class="form-group">
                    <label for="name">FullName:</label>
                    <input type="text" class="form-control" placeholder="Enter FullName" #box  name="name"   id="name">
                    
                  </div>
                <div class="form-group">
                  <label for="email">Email address:</label>
                  <input type="email" class="form-control" placeholder="Enter email"  name="email"  id="email">
                </div>
                <div class="form-group">
                  <label for="pwd">Password:</label>
                  <input type="text" class="form-control" placeholder="Enter password" name="password"  id="pwd">
                </div><br>
                
                <button type="submit" class="btn btn-primary" name="submit" id="submit" (click)="getValue(box.value)">Submit</button>
                <button type="clear" class="btn btn-primary float-end" name="clear" id="clear" (click)="hideData()">Clear</button>
            </form><br>
            <p>Fullname:- {{displayVal}} </p>

        <!-- <div class="col-md-4" *ngIf="isShowData">
            <div class="col-md-4">
            <p>{{displayVal}} </p> 
        </div>
    </div> -->

